
# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore data files (all CSV files)
*.csv 

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Explicitly include requirements.txt even if *.txt is ignored
!requirements.txt

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment directory
venv/





